* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #__nuxt, #__layout, .container {
  width: 100%;
  height: 100%;
  // background: #f0f2f5;
}

ul, ol, li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #1890ff;
}

.pages {
  padding: 30px 20px;
}

// Page excessive effect
.page-enter-active, .page-leave-active {
  transition: opacity .5s;
}
.page-enter, .page-leave-active {
  opacity: 0;
}