.pages {
  .title {
    font-size: 1.4rem;
    text-align: center;
    padding: .5rem 1rem 1rem;
    font-weight: normal;
    color: #333;
  }
  .icon {
    text-align: center;
    color: #999;
    padding: .5rem 0;
    span {
      margin: 0 .5rem;
    }
  }
  .context {
    pre{
      display: block;
      background-color: #283646 !important;
      padding: .5rem !important;
      overflow-y: auto;
      font-weight: 300;
      font-family: Menlo, monospace;
      border-radius: .3rem;
      code{
        border:0px !important;
        background-color: #283646 !important;
        color:#ccc !important;
        font-size: .87rem;
      }
    }
    code {
      display: inline-block ;
      background-color:#fff5f5;
      border-radius:3px;
      padding-left: 5px;
      padding-right: 5px;
      color:#ff502c;
      margin: 0px 3px;
      line-height: 1.1rem;
      font-size: .87rem;
    }
  }
}