.pages {
  .title {
    font-size: 1.4rem;
    text-align: center;
    padding: .5rem 1rem 1rem;
    font-weight: normal;
    color: #333;
  }
  .icon {
    text-align: center;
    color: #999;
    padding: .5rem 0;
    span {
      margin: 0 .5rem;
    }
  }
  .context {
    font-size: 1.05rem;
    color: #777;
    line-height: 1.9rem;
    /deep/ p {
      margin-top: 0;
      margin-bottom: 1em;
    }
    /deep/ h2{
      border-bottom: 1px solid #d9dada;
      padding-bottom: 1rem;
      margin-bottom: 2rem;
      margin-top: 2rem;
      -webkit-margin-bottom-collapse: 2rem;
      color: #333 ;
      font-size: 1.3rem;
      font-weight: bold;
    }
    /deep/ h3{
      border-left: 4px solid rgb(156, 203, 250);
      padding-left:1rem ;
      margin-bottom: 1rem;
      margin-top: 1rem;
      -webkit-margin-bottom-collapse: 2rem;
      color: #666 ;
      font-size: 1.3rem;
      font-weight: bold;
    }
    /deep/ img{
      border-radius: 5px;
      border:1px solid #f0f0f0;
    }
    /deep/ pre{
      display: block;
      background-color: #283646 !important;
      padding: .5rem !important;
      overflow-y: auto;
      font-weight: 300;
      font-family: Menlo, monospace;
      border-radius: .3rem;
      margin-top: 0;
      margin-bottom: 1em;
      code{
        border:0px !important;
        background-color: #283646 !important;
        color:#ccc !important;
        font-size: .87rem;
      }
    }
    /deep/ code {
      display: inline-block ;
      background-color:#fff5f5;
      border-radius:3px;
      padding-left: 5px;
      padding-right: 5px;
      color:#ff502c;
      margin: 0px 3px;
      line-height: 1.1rem;
      font-size: .87rem;
    }
  }
}