@import './mixin.scss';

.pages {
  ul {
    li {
      margin-bottom: 20px;
      .list-title {
        color: #1890ff;
        font-size: 1.4rem;
      }
      .list-icon {
        color: #999;
        padding: .5rem 0;
        font-size: 14px;
        span {
          margin: 0 .5rem;
        }
        i {
          font-style: normal;
        }
      }
      .list-context {
        text-overflow: -o-ellipsis-lastline;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 6;
        -webkit-box-orient: vertical;
        @include marked;
      }
      .list-go {
        text-align: right;
        color: #1890ff;
        font-size: .9rem;
      }
    }
  }
}