.pages {
  ul {
    li {
      margin-bottom: 20px;
      .list-title {
        color: #1890ff;
        font-size: 1.4rem;
      }
      .list-icon {
        color: #999;
        padding: .5rem 0;
        span {
          margin: 0 .5rem;
        }
      }
      .list-context {
        font-size: 1rem;
        color: #999;
        line-height: 1.6rem;
        // margin-bottom: .5rem;
        // text-indent: 2em;
        text-overflow: -o-ellipsis-lastline;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 6;
        -webkit-box-orient: vertical;
      }
      .list-go {
        text-align: right;
        color: #1890ff;
        font-size: .9rem;
      }
    }
  }
}